* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color:#656565bf;
    margin: 0;
  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 0;

}

  .container, .dashboard_container {
    width: 100%;
    max-width: 700px;
    background-color: #312d2dbf;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding: 25px;
  }
  
  .tab{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .form_container, .dashboard_container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
  }


#dashboard_section .balance_card{
    background-color: #11723d;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 5px;
}

#dashboard_section .balance_card div{
    display: grid;
}

#dashboard_section label{
    font-size: 20px;
    font-weight: 400;

}

#dashboard_section span{
    font-size: 20px;
    font-weight: 800;

}

p {
  margin: 0;
}

#dashboard_section .budget_summary,.recent_transactions{
    background-color: #11723d;
    width: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding: 10px;
}

#budgetForm .category{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
#budgetForm .category input{
    width: 100px;
    padding: 0;
}

#budget_form {
  /* top: 70px; */
  /* position: fixed; */
  /* z-index: 5; */
  /* right: 20%; */
  /* background: #606060; */
  overflow-y: auto;

}

.progress_bar{
  border: solid;
}

.progress{
  width: 0;
  height: 9px;
  background-color: aquamarine;
  max-width: 293px;
}







/* Sidebar styling */
.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 54px;
  }
  
  .sidebar h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .sidebar button {
    display: block;
    color: #fff;
    padding: 10px 15px;
    background-color: #333;
    width: 100%;
  }
  
  .sidebar a:hover {
    background-color: #555;
  }

  /* Overlay styling */
.overlay {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
    pointer-events: none;
  }
  
  nav{
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    z-index: 6;
  }
  
  /* Toggle button for mobile */
  .sidebar_toggle {
    display: none;
    font-size: 20px;
    /* padding: 10px 15px; */
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;

    text-wrap-mode: nowrap;
    /* top: 15px; */
    /* left: 15px; */
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
    .sidebar {
      width: fit-content;
      height: auto;
      position: fixed;
      z-index: 4;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s ease-in-out;
    }
  
    .content {
      margin-left: 0;
    }
  
    .sidebar_toggle {
        display: block;
      }
    
      .overlay.show {
        display: block;
        opacity: 1;
        pointer-events: auto;
      }
    
      .sidebar.show {
        opacity: 1;
        pointer-events: auto;
      }

      .show {
        display: block!important;
      }
  }

  @media (min-width: 769px) {
  .show {
    display: block!important;
  }
  #overlay{
    display: none!important;
  }
  .dashboard_container {
    margin-top: 70px;
  
}

.sidebar {
  position: sticky;
}
body{
  display: flex;
  height: auto;
}
}
 
  
  .tab button {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    cursor: pointer;
    color: black;
    font-size: larger;
  }
  
  .tab button.active {
    background-color: #007BFF;
    color: #fff;
  }
  
  .input {
    display: flex;
    gap: 3%;
}

  input, button, select {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error_message {
    color: red;
    font-size: 0.9em;
    text-align: center;
  }
  
  #entries_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    overflow-wrap: anywhere;
  }
  
  #entries_table th, #entries_table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  #edit_entry {
    display: flex !important;
    position: fixed;
    top: 28%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.9s ease-in-out;
    background: #333;
    border-radius: 15px;
    width: 100%;
    right: 20%;
    max-width: 325px;
}


form#edit_entry_form {
  display: flex !important;
margin-top: 30px;
margin-bottom: 30px;
}

#edit_entry.show {
  z-index: 6;
  pointer-events: auto;
  opacity: 1;
}

#delete_entry {
  display: flex !important;
  position: fixed;
  top: 28%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.9s ease-in-out;
  background: #333;
  border-radius: 15px;
  width: 100%;
  right: 20%;
  max-width: 325px;
  z-index: 4;
  padding: 30px 0px;
}

#delete_overlay.show {
    opacity: 1;
    pointer-events: auto;
}

div#delete_entry.show {
  opacity: 1;
  pointer-events: auto;
}

div#entry_overlay.show {
  opacity: 1;
  pointer-events: auto;
}

  input#expense, input#income  {
    appearance: none;
    position: absolute;
    height: 30px;
    width: calc(50% - 10px);
    z-index: 3;
  }
  
  input#expense  {
    right: 0;
  }
  
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #827d7d;
    border-radius: 5px;
    position: relative;
  }
  
  .option label {
    width: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 2;
  }
  
  .option::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    background-color: #fff;
    height: calc(100% - 10px);
    width: calc(50% - 10px);
    transform: translateX(5px);
    border-radius: inherit;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 200ms;
  }
  
  input#type:checked ~ .option::before {
    left: 50%;
  }
  
  input#income:checked ~ .option::before {
    left: 0%;
  }
  
  input#expense:checked ~ .option::before {
    left: 50%;
  }


.loader {
  width: 50px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
  margin-left: auto;
  margin-right: auto;
}

@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}


#edit_entry_loader{
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-items: center;
  align-content: center;
}

.formloader {
  width: 55%;
  aspect-ratio: 1;
  /* display: grid; */
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.formloader::before,
.formloader::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.formloader::after {
   opacity: 0.83;
   transform: rotate(60deg);
}
@keyframes l23 {
  100% {transform: rotate(1turn)}
}

#budgetloader.show {
 opacity: 1; 
 pointer-events: auto;
}


.budgetloader {
  width: 79%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  height: 8px;
  --c:no-repeat linear-gradient(#240a49 0 0);
  background: var(--c),var(--c),#d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}